#mycontainer 
    .mybox.mysmall#picture 
        img(src="https://i.imgur.com/e1pgcTj.png", alt="Emi Tanaka")
    .mybox.mysmall#basic
        ul.mynobullets
            li
                strong Age
                | 21
            li
                strong Birthday 
                | 22
            li
                strong Gender 
                | Woman 
            li
                strong Height
                | 6 foot
            li
                strong Weight
                | 163 lbs
    .mybox.mysmall#ninja
        ul.mynobullets
            li
                strong Rank
                | Genin
            li
                strong Village
                | Tanbogakure 
            li 
                strong Element
                | UM
            li 
                strong Specialties
                | UM
            li
                strong Clan
                a(href="https://www.narutoroleplaygame.com/t53259-tanaka-clan", target="_blank", rel="noopener noreferrer") Tanaka Clan
    .mybox.mysmall#stats
        ul.mynobullets 
            li
                strong Vigor
                | UM
            li 
                strong Chakra
                | UM
            li 
                strong Speed
                | UM
            li
                strong Strength
                | UM
    .mybox.mysmall#me
        ul.mynobullets
            li 
                strong Other Characters
                | None
            li
                strong Faceclaim 
                | AFAIK no series, rather an OC
            
    .mybox.mybig#history