link(rel="stylesheet", href="main.sass")
.my-container
    .my-header
        .img
            .img-container
                img(src="https://i.imgur.com/2tJb3cq.jpeg", width="350px" style="object-fit: cover; margin: 25px;")
        .details-container
            .details
                .innerdetails 24 (94)
            .details
                .innerdetails Genin (Kiri)
            .details
                .innerdetails D Rank
            .details
                .innerdetails 6'8"
            .details
                .innerdetails 210 lbs
            .details
                .innerdetails
                    a(href="https://www.narutoroleplaygame.com/t22868-kyuketsuki-clan#173263" class="hiddenlink") Kyuketsuki
            .details
                .innerdetails 
                    a(href="https://www.narutoroleplaygame.com/t45321-noblesse-v7#354394" class="hiddenlink") Noblesse 
            .details
                .innerdetails Med (Clan)
            .details
                .innerdetails 500 Ryo
            .details
                .innerdetails 
                    a(href="#" class="hiddenlink") Missions
            .details-background
    .my-body
        .horizontal-container
            .contained Taijutsu
            .contained Untrained
            .contained Untrained
        .horizontal-container
            .contained Water
            .contained Unlearned 
            .contained Unlearned 
            .contained Unlearned
        .horizontal-container
            .contained Vig: 25
            .contained Cha: 25
            .contained Spd: 25(+25)
            .contained Str: 25
        .horizontal-container 
            .contained 100 Stats
            .contained 100 Health
        h1.mini-title Jutsu
        h2.micro-title S Rank
        .horizontal-container.flex-wrap 
            each v in [1,1,1]
                .contained Untrained
        h2.micro-title A Rank
        .horizontal-container.flex-wrap 
            each v in [1,1,1]
                .contained Untrained
        h2.micro-title B Rank
        .horizontal-container.flex-wrap 
            each v in [1,1,1]
                .contained Untrained
        h2.micro-title C Rank
        .horizontal-container.flex-wrap 
            each v in [1,1,1]
                .contained Untrained
        h2.micro-title D Rank
        .horizontal-container.flex-wrap 
            each v in [1,1,1]
                .contained Untrained
        h2.micro-title E Rank
        .horizontal-container.flex-wrap 
            .contained
                a(href="https://www.narutoroleplaygame.com/t47433-substitution-technique-v7-2") Substitution Technique
            .contained
                a(href="https://www.narutoroleplaygame.com/t45238-clone-technique-v7") Clone Technique
            .contained
                a(href="https://www.narutoroleplaygame.com/t45244-transformation-technique-v7") Transformation Technique
            .contained
                a(href="https://www.narutoroleplaygame.com/t50347-tree-climbing-surface-walking-v7-2") Surface Walking
            each v in [1]
                .contained Untrained
        h1.mini-title Skills
        .horizontal-container.flex-wrap 
            each v in [1,1,1]
                .contained Untrained
        h1.mini-title Inventory
        .horizontal-container.flex-wrap 
            each v in [1,1,1]
                .contained Empty
        h1.mini-title Appearance 
        span
            | Katsuro Kyuketsuki is a man of many faces; his outer appearance at a constant battle with change; however the constant reminders of his familial background stay – similar to his birth father, Katsuro is an astonishing six feet eight inches tall, his slender but muscular stature brings him weighing in around two hundred and ten pounds on a good day. The Blood Prince, similar to his twin sister has a pale complexion, his however on the borderline of appearing sickly at times. Unlike his favoured twin, his silver hair is short and spikes out around his diamond shaped face; along with a single notable scar that reaches from just under his left eye straight down onto his jaw line. A reminder of the past – as he likes to remain apparent to his own downfalls.
            | 
            | Katsuro, unlike his forefathers, is covered in various tattoos, each serving their own purpose; to tell a point of story within his own timeline. From the chain that circles both his neck and upper arms – to the ‘curse mark’ design on his chest – however not a real curse mark, he determined it was the best way to express his hatred for his ‘clan’ and their cursed abilities. To the tattoo of the claw marks along his right side against his ribs; the reminder of his sisters brutality. Each tattoo serves as a dark reminder that his life will never end; so long as his sister remains.
            | 
            | Unlike his twin, Katsuro remains to have a chilling icy blue colour of eye; the almost inhuman appearance of a glow within them cause for pause when taking a first glance at this giant of a man; being that of his first notable feature, only to follow into the rest.
            | 
            | Katsuro enjoys several different forms of outfit, often times matching in at least colour to his twin, but distinct enough that one wouldn’t be able to think they matched all of the time. With the outfits ranging from suit and ties; to street wear, to even at times outrageous wears that one wouldn’t assume from someone of his status.
            | 
            | Having struggled in the beginning of life, to his current point of power, Katsuro knows both dressing like someone who is homeless as he has been, at various points in life to even being where he is now; someone with more ryo then what he knows to do with.
        h1.mini-title Personality
        span
            | Katsuro is fucking insane. No, really. Katsuro's mood can change on a dime. He depends upon his sister as a stabilizing force in his life. If he slips too far, she is always able to reel him back in. She is an anchor keeping him tied to reality, when something deep in his psyche seems to be trying its damdest to pull away from reality.
            | 
            | Without the stabilizing force of his sister, Katsuro finds himself impulsive, and often swinging wildly between the highest of highs and the lowest of lows. When mentally broken like this, one might find him in deep conversations with himself. The rational parts of his mind fighting the primal parts, both vying for control. If his sister is unable to assist, however...
            | 
            | Well...
            | 
            | His primal side often wins out in these arguments.
            | 
            | When around his sister, he can act sane, composed. Some of his impulsiveness still pokes its way in, but not nearly as much when he has had enough time to fall into the depths of depravity. 
        h1.mini-title History
    .my-footer


style