style
    include style.css
hr
center
    .bencustomsiggy
        .bensiggyleft
            img(src="https://i.imgur.com/9oV44Ax.png", alt="Benjamin Lott")
        .bensiggyright
            span 
                | I found freedom. Losing all hope was freedom. 
                //- | Drive came when I lost all love. 
                | A part of me died that day, and I'm not yet convinced it can be brought back.