.zeeCustomColor {
    color: #ffcc00;
}

.zeeNPCColor {
    color: green;
}

.zeeTownColor {
    color: magenta;
}

.zeeDari {
    color: darkorchid;
}

.zeeTami {
    color: lightblue;
}

.zeeToshiro {
    color: darkolivegreen;
}