link(rel="stylesheet", href="main.sass")
.my-container
    .my-header
        .img
            .img-container
                img(src="https://i.imgur.com/RScuaQP.png", width="350px" style="object-fit: cover; margin: 25px;")
        .details-container
            .details
                .innerdetails 24 (94)
            .details
                .innerdetails D (Vaga)
            .details
                .innerdetails D Rank
            .details
                .innerdetails 5'4"
            .details
                .innerdetails 160 lbs
            .details
                .innerdetails
                    //- a(href="https://www.narutoroleplaygame.com/t22868-kyuketsuki-clan#173263" class="hiddenlink") Kyuketsuki
                    | Clanless
            .details
                .innerdetails 
                    //- a(href="https://www.narutoroleplaygame.com/t45321-noblesse-v7#354394" class="hiddenlink") Noblesse 
                    | Clanless
            .details
                //- .innerdetails Med (Clan)
                .innerdetails Clanless
            .details
                .innerdetails 500 Ryo
            .details
                .innerdetails 
                    a(href="#" class="hiddenlink") Missions
            .details-background
    .my-body
        .horizontal-container
            .contained Ninjutsu
            .contained Untrained
            .contained Untrained
        .horizontal-container
            .contained Water
            .contained Unlearned 
            .contained Unlearned 
            .contained Unlearned
        .horizontal-container
            .contained Vig: 50
            .contained Cha: 40
            .contained Spd: 5
            .contained Str: 5
        .horizontal-container 
            .contained 100 Stats
            .contained 100 Health
        h1.mini-title Jutsu
        h2.micro-title S Rank
        .horizontal-container.flex-wrap 
            each v in [1,1,1]
                .contained Untrained
        h2.micro-title A Rank
        .horizontal-container.flex-wrap 
            each v in [1,1,1]
                .contained Untrained
        h2.micro-title B Rank
        .horizontal-container.flex-wrap 
            each v in [1,1,1]
                .contained Untrained
        h2.micro-title C Rank
        .horizontal-container.flex-wrap 
            each v in [1,1,1]
                .contained Untrained
        h2.micro-title D Rank
        .horizontal-container.flex-wrap 
            each v in [1,1,1]
                .contained Untrained
        h2.micro-title E Rank
        .horizontal-container.flex-wrap 
            .contained
                a(href="https://www.narutoroleplaygame.com/t47433-substitution-technique-v7-2") Substitution Technique
            .contained
                a(href="https://www.narutoroleplaygame.com/t45238-clone-technique-v7") Clone Technique
            .contained
                a(href="https://www.narutoroleplaygame.com/t45244-transformation-technique-v7") Transformation Technique
            .contained
                a(href="https://www.narutoroleplaygame.com/t50347-tree-climbing-surface-walking-v7-2") Surface Walking
            each v in [1]
                .contained Untrained
        h1.mini-title Skills
        .horizontal-container.flex-wrap 
            each v in [1,1,1]
                .contained Untrained
        h1.mini-title Inventory
        .horizontal-container.flex-wrap 
            each v in [1,1,1]
                .contained Empty
        h1.mini-title Appearance 
        span
            | 
        h1.mini-title Personality
        span
            | 
        h1.mini-title History
    .my-footer


style

