style
    include ../dist/main.css 

.container
    .name Z Ne
    .horizontal-container.picture
        .smallbase 20
        .smallbase Cursed Child
        .smallbase Genin
        .smallbase D Rank
        .smallbase 5' 5
        .smallbase 115 lbs
        .smallbase Clanless
        .smallbase 500
        .bigbase Taijutsu
        .bigbase Untrained
        .bigbase Untrained
        .smallbase Lightning
        .smallbase Untrained
        .smallbase Untrained
        .smallbase
            a(href="#") No Advanced
    .title Stats
    .horizontal-container
        .smallbase 1 Vig
        .smallbase 1 Cha
        .smallbase 49 Spd
        .smallbase 49 Str
        .smallbase 100 stats
        .smallbase 100 health
    .title Jutsu
    .subtitle S Rank (0)
    .horizontal-container
        .bigbase
            a(href="#") Untrained
        .bigbase
            a(href="#") Untrained
        .bigbase
            a(href="#") Untrained
    .subtitle A Rank (5)
    .horizontal-container
        .bigbase
            a(href="#") Untrained
        .bigbase
            a(href="#") Untrained
        .bigbase
            a(href="#") Untrained
    .subtitle B Rank (10)
    .horizontal-container
        .bigbase
            a(href="#") Untrained
        .bigbase
            a(href="#") Untrained
        .bigbase
            a(href="#") Untrained
    .subtitle C Rank (15)
    .horizontal-container
        .bigbase
            a(href="#") Untrained
        .bigbase
            a(href="#") Untrained
        .bigbase
            a(href="#") Untrained
    .subtitle D Rank (∞)
    .horizontal-container
        .bigbase
            a(href="#") Untrained
        .bigbase
            a(href="#") Untrained
        .bigbase
            a(href="#") Untrained
    .subtitle E Rank (∞)
    .horizontal-container
        .bigbase
            a(href="https://www.narutoroleplaygame.com/t47433-substitution-technique-v7-2") Substitution
        .bigbase
            a(href="https://www.narutoroleplaygame.com/t45238-clone-technique-v7") Clone Technique
        .bigbase
            a(href="https://www.narutoroleplaygame.com/t45244-transformation-technique-v7") Transformation 
        .bigbase 
            a(href="https://www.narutoroleplaygame.com/t50347-tree-climbing-surface-walking-v7-2") Surface Walking
    .title Skills
    .horizontal-container 
        .bigbase
            a(href="#") Untrained
        .bigbase
            a(href="#") Untrained
        .bigbase
            a(href="#") Untrained
    .title Misc
    .subtitle Inventory 
    .horizontal-container
        .bigbase
            a(href="#") Unowned
        .bigbase
            a(href="#") Unowned
        .bigbase
            a(href="#") Unowned 
    .subtitle Story
    .horizontal-container
        .bigbase
            a(href="https://www.narutoroleplaygame.com/t53826-z-ne") Character Application
    .title Missions
    .horizontal-container
        .bigbase.superflex
            a(href="#") No link yet
        .bigbase
            a(href="#") Not done yet
        .bigbase
            a(href="#") Not done yet 
        .bigbase
            a(href="#") Not done yet 
    .title Personal Details


