link(rel="stylesheet", href="styles/main.sass")

.container
  .box
    .box-header 
      h1 Emi Tanaka
    .box-middle.general
    .box-content
      .flow
        .element Komekage
        .element 21 years
        .element C Rank
        .element Tanbogakure
        .element 183 cm (6'0)
        .element 74 kg (163 lbs)
  .box
    .box-header 
      h1 The Statistics
    .box-middle.my-statistics
    .box-content
      .flow
        .element Lightning
        .element Water
      .flow
        .element Ninjutsu
        .element Taijutsu
        .element Space-Time
      .flow
        .element 300 Stats
        .element 300 Health
        .element 1444 AP
      .flow
        .element VIG 100
        .element CHA 50
        .element SPD 50 
        .element STR 100       
  .box
    .box-header
      h1 Sub-Stats
    .box-middle.substats
    .box-content
      | [spoiler=Show sub stats]
      dl.custom
        dt Vigor AP
        dd 1000
        dt Bonus AP
        dd 444
        dt Chakra AP Reduction
        dd 15%
        dt Reflex Speed
        dd 55
        dt Passive DR
        dd 100
        dt Jumping
        dd 37.5m
        dt Throwing Speed
        dd 25
        dt Throwing Distance
        dd 25m
        dt Strength Impact
        dd 50
        dt Speed Impact
        dd 25
      | [/spoiler]
  
  
  
  
  
  
  
  .box
    .box-header
      h1 S Rank
    .box-middle.srank
    .box-content 
      | [spoiler=Ninjutsu]
      .flow
        .element 
          a(href="https://www.narutoroleplaygame.com/t52701-tamashi-no-hikiro ") Tamashi no Hikiro
      | [/spoiler][spoiler=Taijutsu]
      .flow
        .element
          a(href="https://www.narutoroleplaygame.com/t50860-block-v7-2") Block
      | [/spoiler][spoiler=Space-Time]
      .flow
        .element
          a(href="https://www.narutoroleplaygame.com/t49560-instant-transmission-v7") Instant Transmission
      | [/spoiler]
  .box
    .box-header
      h1 A Rank
    .box-middle.arank
    .box-content 
      | [spoiler=Ninjutsu]
      .flow
        .element
          a(href="https://www.narutoroleplaygame.com/t53136-water-release-bouncy-wall") Water Release: Bouncy Wall
        .element
          a(href="https://www.narutoroleplaygame.com/t54447-chidori-v7-2") Chidori
      | [/spoiler][spoiler=Taijutsu]
      .flow
        .element
          a(href="https://www.narutoroleplaygame.com/t49198-taijutsu-infusion") Taijutsu Infusion
        .element
          a(href="https://www.narutoroleplaygame.com/t54118-death-roll") Death Roll
        .element
          a(href="https://www.narutoroleplaygame.com/t49948-death-point-striking") Death Point Striking
        .element
          a(href="https://www.narutoroleplaygame.com/t49121-lightning-jab-v7") Lightning Jab
          a(href="https://www.narutoroleplaygame.com/t49942-perfect-body") Perfect Body
          a(href="https://www.narutoroleplaygame.com/t49938-hundred-fists-of-fury") Hundred Fists of Fury
          a(href="https://www.narutoroleplaygame.com/t49944-crashing-thunder-charge") Crashing Thunder Charge
      | [/spoiler]
  .box
    .box-header
      h1 B Rank
    .box-middle.brank
    .box-content
      | [spoiler=Taijutsu]
      | 
      | [/spoiler][spoiler=Space-Time]
      .flow
        .element
          a(href="https://www.narutoroleplaygame.com/t46761-summoning-wandering-oasis") Summoning Wandering Oasis
        .element 
          a(href="https://www.narutoroleplaygame.com/t49219-space-time-amplifier") Space-Time Amplifier 
        .element 
          a(href="https://www.narutoroleplaygame.com/t53300-merge") Merge
      | [/spoiler]
  .box
    .box-header
      h1 C Rank
    .box-middle.crank
    .box-content 
      | [spoiler=Ninjutsu]
      .flow
        .element
          a(href="https://www.narutoroleplaygame.com/t45622-spirit-gun-v7") Spirit Gun
      | [/spoiler][spoiler=Taijutsu]
      .flow
        .element
          a(href="https://www.narutoroleplaygame.com/t50688-nukite-the-spear-hand") Nukite: The Spear Hand
        .element
          a(href="https://www.narutoroleplaygame.com/t49940-360-degree-shield-hand") 360 Degree Shield Hand
      | [/spoiler]
  .box
    .box-header
      h1 D Rank
    .box-middle.drank
    .box-content 
      | [spoiler=Ninjutsu]
      .flow
        .element
          a(href="https://www.narutoroleplaygame.com/t47432-body-flicker-v7-2") Body Flicker
      | [/spoiler][spoiler=Space/Time]
      .flow
        .element
          a(href="https://www.narutoroleplaygame.com/t45943-storage-displacement-v7") Storage Displacement
      | [/spoiler]
  .box
    .box-header
      h1 E Rank
    .box-middle.erank
    .box-content 
      | [spoiler=Ninjutsu]
      .flow
        .element
          a(href="https://www.narutoroleplaygame.com/t45244-transformation-technique-v7") Transformation
        .element
          a(href="https://www.narutoroleplaygame.com/t45238-clone-technique-v7") Clone
        .element
          a(href="https://www.narutoroleplaygame.com/t47433-substitution-technique-v7-2") Substitution
        .element
          a(href="https://www.narutoroleplaygame.com/t50347-tree-climbing-surface-walking-v7-2") Surface Walking
        .element
          a(href="https://www.narutoroleplaygame.com/t45846-sparks-v7")  Sparks
      | [/spoiler][spoiler=Sensory]
      .flow
        .element
          a(href="https://www.narutoroleplaygame.com/t51011-cat-eyes") Cat Eyes
      | [/spoiler][spoiler=Other]
      .flow
        .element
          a(href="https://www.narutoroleplaygame.com/t22313-genjutsu-release") Genjutsu Release
      | [/spoiler]
  .box
    .box-header
      h1 Skills
    .box-middle.skills
    .box-content 
      | [spoiler=Slotted]
      .flow
        .element 
          a(href="https://www.narutoroleplaygame.com/t53308-beat-seals") Beat Seals
        .element 
          a(href="https://www.narutoroleplaygame.com/t53460-harsh-fist-hidenstyle") Harsh Fist
        .element
          a(href="https://www.narutoroleplaygame.com/t52528-shinki-ryu-spirit-style#396534")
            | 神気流 Shinki-Ryu (Spirit Style)
      | [/spoiler][spoiler=Slotless]
      .flow
        .element 
          a(href="https://www.narutoroleplaygame.com/t44393-chakra-sensory-v7") Chakra Sensory
      | [/spoiler]
  .box
    .box-header
      h1 Inventory
    .box-middle.inv
    .box-content 61,500 Ryo
      | [spoiler=Items on person]
      .flow
        .element
        .element
        .element
      | [/spoiler][spoiler=Items stored]
      .flow
        .element
          a(href="https://www.narutoroleplaygame.com/t53720-spooky-doll") Spooky Doll
      | [/spoiler][spoiler=Event Items]
      .flow
        .element 45 Mikadzuki Beach Tokens
        .element 500 WC Bank
        .element 3,500 Winter Equinox Tickets
        .element 2 S Rank Scrolls
        .element 2 A Rank Scrolls
        .element 11 B Rank Scrolls
        .element 2 C Rank Scroll
      | [/spoiler]

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  .box
    .box-header 
      h1 Appearance
    .box-middle.appearance
    .box-content Blond hair reaching down to waist level, with shoulder length side bangs and shorter central bangs, outline Emi's head and cover most of her forehead. Somewhat large aquamarine eyes rest on an otherwise simple face, adding a splash of excitement to a face that is rather stoic at times. Emi's legs are on the longer side, though this is often hidden by her tendancy to wear longer shirts and baggier clothing.
  .box
    .box-header 
      h1 Personality
    .box-middle.personality
    .box-content Emi is overall fairly easygoing. She enjoys spending time with friends, playing games, going to restaurants, but she is also totally fine to spend some time at home, or walk with no direction and no destination. While only outspoken if interested or involved in the topic, she is not shy either. Preferring quiet and music, she sometimes does nothing more than walk around town. 
  .box
    .box-header 
      h1 Story
    .box-middle.story
    .box-content 
      a(href="https://www.narutoroleplaygame.com/t53284-emi-tanaka-mission-log") Mission Tracker
      br
      a(href="https://www.narutoroleplaygame.com/t53282-emi-tanaka") Character App
      | [spoiler=Life in Tanbogakure]
      .flow
        .element
          a(href="https://www.narutoroleplaygame.com/t53299-marriage-in-peril-fortify-the-castle-and-movies") Marriage in Peril, Fortify the Castle, and Movies
        .element
          a(href="https://www.narutoroleplaygame.com/t53307-learning-to-run-in-slow-motion") Learning to Run in Slow Motion
        .element
          a(href="https://www.narutoroleplaygame.com/t53378-a-day-in-the-sun-p-zee") A day in the sun [P] [Zee]
        .element
          a(href="https://www.narutoroleplaygame.com/t53925-the-spirits-might-be-rising-but-work-must-go-on") The Spirits Might Be Rising, but Work Must Go On
      | [/spoiler][spoiler=The New Komekage]
      .flow
        .element
          a(href="https://www.narutoroleplaygame.com/t54154-be-a-good-citizen-vote") Be a good citizen. Vote!
        .element
          a(href="https://www.narutoroleplaygame.com/t54318-the-start-of-much-confusion-and-worry") The start of much confusion and worry
        .element
          a(href="https://www.narutoroleplaygame.com/t54351-a-trip-to-the-doctor-s") A Trip to the Doctor's
        .element
          a(href="https://www.narutoroleplaygame.com/t54321-budding-of-connections-letter-to-kage") Budding of Connections [Letter to Kage]
        .element
          a(href="https://www.narutoroleplaygame.com/t54338-an-invitation-amist-the-darkness-komekage") An Invitation amist the darkness (Komekage)
        .element
          a(href="https://www.narutoroleplaygame.com/t54357-being-back-home") Being Back Home
        .element
          a(href="https://www.narutoroleplaygame.com/t54388-the-zukumiki-strike-again-missions") The Zukumiki Strike Again [Missions]
        .element
          a(href="https://www.narutoroleplaygame.com/t54432-an-important-announcement") An Important Announcement
        .element
          a(href="https://www.narutoroleplaygame.com/t54381-an-old-home-village-entrance") An Old Home? [Village Entrance]
        .element
          a(href="https://www.narutoroleplaygame.com/t54387-a-bond-of-necessity-village-entrance") A Bond of Necessity [Village Entrance]
        .element
          a(href="https://www.narutoroleplaygame.com/t54391-guarding-some-weak-ass-npcs") Guarding some weak ass NPCs
        .element
          a(href="https://www.narutoroleplaygame.com/t54424-getting-back-to-prepare-to-leave") Getting back to prepare to leave
      | [/spoiler][spoiler=Wintertide]
      .flow
        .element
          a(href="https://www.narutoroleplaygame.com/t54474-a-broken-blade-for-hire") A Broken Blade for Hire
      | [/spoiler][spoiler=The Summit]
      | 
      | [/spoiler][spoiler=Places I've Been]
      .flow
        .element Tanbogakure
        .element Land of Rice
      |[/spoiler]