style
    include ../dist/main.css 

.background_gradient.zee_mini_title
    .zee_mini_title.title_cover Z Ne

.zee_post_container.background_gradient(style="background-image: url('https://i.imgur.com/tieLnY5.png');")
    .post_blur
        