style
    include ../dist/main.css 

.background_gradient.zee_mini_title(style="background-attachment:fixed;")
    .zee_mini_title.title_cover Z Ne

.zee_post_container.background_gradient(style="background-image: url('https://i.imgur.com/tieLnY5.png');background-attachment:fixed;")
    .post_blur
        