//- #ben-container
//-     input(type="radio" class="custom-selector" id="Selector1" name="FancySelector" checked="checked")
//-     label(for="Selector1") Toggle Fancy Rendering
//-     input(type="radio" class="custom-selector" id="Selector2" name="FancySelector")
//-     label(for="Selector2") Toggle Fancy Rendering
//- #ben-container
//-     details.toggle
//-         summary Toggle Fancy
link(rel="stylesheet", href="main.sass")
style
#ben-inner-container
    #picAndName
        #BensPicture
            a(href="https://www.narutoroleplaygame.com/t53591-benjamin-lott")
                img(src="https://i.imgur.com/9oV44Ax.png", alt="Benjamin Lott")
    #basics
        h2 Character Essentials
        strong Ninja Rank 
        | D 
        br
        strong Power Rank 
        | D
        br
        strong Height 
        | 5 foot 8 inch
        br
        strong Weight 
        | IDK yet
        br
        strong Age 
        | 43
        br
        strong Alias 
        | Sumashi Azuma
        br
        strong Money 
        | 500 Ryo
        br
        storng Missions 
        a tracker
    #ninjaDeets
        h2 Ninja Essentials
        strong Clan 
        a(href="https://www.narutoroleplaygame.com/t53589-yajuu-clan") Yajuu
        br
        strong KKG 
        a(href="https://www.narutoroleplaygame.com/t53590-unleash-the-broken-beast-yajuu") Unleash the Broken Beast
        br
        strong Clan Specialty 
        | Sensory
        br
        strong Specialties 
        | Sensory 
        br
        strong Elements 
        | Water
    #ninjaStats
        h2 Stats
        strong Total Stats 
        | 100
        br
        strong Health Bar 
        | 100
        br
        br
        strong Vigor 
        | 30
        br
        strong Chakra
        | 20
        br
        strong Speed
        | 30
        br
        strong Strength
        | 20
    #skilsAndInv
        h3 Skills
        span None Yet
        br
        h3 Inventory 
        span Nothing Yet
    #jutsu
        h2 Jutsu
        h3 S Rank
        h3 A Rank
        h3 B Rank
        h3 C Rank
        h3 D Rank
        h3 E Rank
    #appearance
        h2 Appearance
        p Ben stands at 5 foot 8 inches. On his left arm is a sleeve tattoo of a dragon. This tattoo is a coverup from tattoos he got in his youth.
        p Generally, Ben keeps the sides and back of his hair closely shaved while the hair on top of his head is pulled back into a bun. Sometimes he leaves enough for one bang lying in front of his face.
        p Ben has a pierced nose bridge and two piercings on each earlobe. He still regularly wears his piercings, often only removing them for cleaning.
        p Ben tries to keep his mustache and beard to a similar length as the sides of his hair. This is not always successful, but when he pulls it off, it looks great.
    #personality
        h2 Personality
        p Ben is, all told, a jovial fellow. He has the demons of his past, and if he ends up thinking about them for awhile, they can spoil a good day. But all in all, he likes to put in his best. He works hard, a trait he still has from working construction when he lived in Iwagakure.
        p Ben very much does not understand the ninja world. Most of his knowledge comes from reading a variety of books over his years of travelling, some of which he really thought were complete bullshit, and some of which he really worried about how they'd even wound up in his hands.
        p He thrown those books to the road more than once.
        p For a brief while, Ben was consumed by rage and a want for vengeance. But... vengeance is exhausting, and while Ben never really got over it, he is at peace with the stuff that happened to his home.
        p Though if Ben ever comes across those ass wipes.... He probably wouldn't recognize them because he did not see who brought about his home's destruction.
        p Over his years of travel, Ben grew to love the act of seeing new places. And while he has settled down for now, he wonders if wanderlust will take him away to explore more that he has yet to see.
    #story
        h3 History
        p Ben grew up in Iwagakure under the name Sumashi Azuma. Well, "under the name" implies he was hiding something. That just was his name, once upon a time. He was a normal civilian, and found himself working in construction. As he grew older, he watched his family marry, and grow. The light of his life, quite probably, was his niece. She "showed potential" and was brought up as a ninja. She was a great kid, and would play-teach her uncle (Ben) all the stuff she was learning at school. Sometimes Ben paid attention, sometimes he just pretended to, but he knew, he was limited. While not weak, he was average at best, certainly not a ninja.
        p Well, that is what he, and most everyone around him, had assumed. Even his own parents.
        p As his grandmother lay on her death bed, she shooed everyone except him out of the room. It was here that she revealed his family's past, and his truth.
        p She shared it so that the knowledge would not die, and so that he could find her writings about it, which she had left if she passed unexpectedly. But she fully intended for Ben to continue to hide it, and only pass on the knowledge to heirs if necessary.
        p Ben's niece was apparently lucky, over the generations, the KKG had been becoming increasingly rare, and she did not have it. Ben, however, did. His grandmother had checked to be sure. And while she regretted another generation growing up with what she saw as a curse, she was also happy to be able to finally tell someone.
        p Ben planned to never use his powers but... fate would have a different opinion.
        p First was the disgracing of Iwagakure by the people of Skyscraper, than the outright destruction of his home. This left Ben listless, and he wondered the world, not having a destination, so much as a need to do something, and travelling the world was something.
        p Ben found himself relying on his ninja abilities as he explored the world, unregistered by any villages or nations as a ninja. He knew that, were he discovered, well. Big trouble would likely ensue. At least, that was his assumption, especially based on what his grandmother had told him.
        p So he travelled, and did the minimum to keep himself going. And sometimes a little extra for the sake of comfort.


