link(rel="stylesheet", href="styles/main.sass")
- let i = 0


.ketsuekiCont
	.marker#TOP
	.section
		h1 
			b ketsueki
			| gakure no 
			b sato
		h2.kanji 吸血鬼の隠れ里
		img.titleImage(src="https://i.imgur.com/anxSbcg.png", alt="Ketsuekigakure")
		h3
			| Major Village // 
			a(href="/t53907-ketsuekigakure-no-sato#404185") Village page
		h2 Table of Contents
		ul.ToC
			li 
				a(href="#UPGRADES") Village Upgrades
			li
				a(href="#FUNDS") The Village Funds
			li
				a(href="#NPC") The VIllage NPCs
			li
				a(href="#CULTURE") Village Culture
			li
				a(href="#LAWS") Village Laws
			li
				a(href="#RELATIONS") Village Relations
			li
				a(href="#EXCLUSIVES") Village Exclusives
			li 
				a(href="#ROSTER") Village Roster

		.marker#UPGRADES
		h3.toLeft Village Upgrades (2/20)
		ul.listOf
			li
				a(href="/t47817-advanced-training-facility#368149") Advanced Training Facility
			li
				a(href="/t46457-dimensional-interdiction-seals-v7#361344") Dimensional Interdiction Seals
			- i = 0
			while i < 12
				li
					a(href="#UPGRADES") Name
					- i++
		div(role="img" aria-lable="A picture of the five Interdiction Seal locations around volcano")
			img(src="https://i.imgur.com/wCt0XmZ.png", alt="A picture of the five Interdiction Seal locations around volcano")
			p.details Green Strikes represent the location of the five monoliths surrounding the village.

		.marker#FUNDS
		h3.toLeft Village Funds ;; 125,000 Ryo
		p.details {Every Friday 10,000 Ryo will be credited to each Major village + 5000 Kage Pay}

		a.ToTop(href="#TOP") Return to Table of Contents
		.marker#NPC
		h3.toLeft NPC'S
		h4.toLeft A-rank (0/2)
		ul.listOf.toLeft
			- i = 0
			while i < 2
				li
					a(href="#NPC") Name
					- i++
		h4.toLeft B-rank (1/3) (1 Free)
		ul.listOf.toLeft
			li
				a(href="/t53959-dagon-shinkou#404390") Dagon Shinkou
			- i = 0
			while i < 2
				li
					a(href="#NPC") Name
					- i++
		h4.toLeft C-rank (0/3) (2 Free)
		ul.listOf.toLeft
			- i = 0
			while i < 3
				li
					a(href="#NPC") Name
					- i++
		h4.toLeft D-rank (0/5) (2 Free)
		ul.listOf.toLeft
			- i = 0
			while i < 5
				li
					a(href="#NPC") Name
					- i++

		a.ToTop(href="#TOP") Return to Table of Contents
		.marker#CULTURE
	.section
		h1 Village Culture
		img.titleImage(src="https://i.imgur.com/vnhe42z.png", alt="The Chikage Hat")
		h3.toLeft Kageship
		p 
			|Council, Consisting of four -- The Chikage and three Deputies known as the 
			b Red Council. 
			| The village decisions are done through the progressive goal of the council, major decisions marking meetings among them; however simple things and tasks only require a single member of the council. The members of the council are considered the strongest within the village and the first line of defense. It is customary should the 'Chikage' fall, the position to fall upon another member of the Red Council. Should this happen, and another slot opens within the council, a trusted member of the 'Master' or 'Nikuya' to rise into the open seat. 
		hr

		h3 The Kages and their councils
		ul.kageCouncil
			li
				b First Chikage 
				| Remika Kyuketsuki
			li
				b Council Members 
				| Azrail Kyuketsuki, Ketsuatsu Kyuketsuki and Mamoru Kyuketsuki

		hr
		a.ToTop(href="#TOP") Return to Table of Contents
		.marker#LAWS
		h3 The Laws Of Ketsuekigakure No Sato
		h3.toRight Challenge System
		p 
			| As per ancient tradition, any 
			b member 
			| of Ketsuekigakure may challenge any 
			b member 
			| within the village to obtain their 
			b Status of Rank
			| , instead of following the regular means of ranking up.
		p 
			| As such an example:
		p.indent
			| A 
			b Genin
			| may challenge a 
			b Chunin
			| and should they 
			b win
			| , they then become a 
			b chunin
			| .
			| This follows in line as such all the way to the ranks of 
			b Red Council 
			| and 
			b Chikage
			| .
		p.indent
			b Challanging
			|  the 
			b Red Council
			| ; should a member of Ketsuekigakure decide to challenge a member of the Red Council, a formal request must be made publicly, with clear outlines of expectation within the fight. The fight will be held within the grounds of the 
			b Hajimari
			|  with the other members of the Council present, as well as an observation topic for members of the village to watch. The fight is a 
			b one on one
			|  battle to the 
			b death
			|  as the only way to unseat a current member of the Council. The 
			b Council Member
			|  may choose a 
			i Champion
			|  to be their representee for the fight. Should the challenger win, they may claim the seat, and the head of the former Council Member.
		p.indent
			b Challanging
			|  the 
			b Chikage
			| , a formal request must be made, with clear outlines of expectation within the fight. The fight will be held within the grounds of the 
			b Hajimari
			| , 
			u however
			|  the 
			b Chikage
			|  may choose a 
			i Champion
			|  to be their representee for the fight. Should the challenger win, they may claim the seat, and the head of the former Chikage without a secondary battle.

		hr
		h3 Village Rank Up
		p For a member of Ketsuekigakure to rank up, there is one of three ways; the first way is to complete missions, growing your over-all power and should that power be significant enough, your village rank will show that. 
		ol(type="I")
			li
				span.rank E/D Rank
				| Academy Student (D Rank is dependent on the story you want to tell)
			li
				span.rank D Rank
				| Genin
			li
				span.rank C Rank
				| Chunin
			li
				span.rank B Rank
				| Jounin
			li
				span.rank Nikuya
				| Members of the Nikuya are chosen by the 
				b Nikuya Captains
				|  and the 
				b Red Council
				| .
			li
				span.rank Nikuya Captains
				| Are chosen by the 
				b Red Council
			li
				span.rank Masters
				| Are chosen by the 
				b Red Council
			li
				span.rank Red Council
				| Members of the Red Council are limited to 
				b Four Members
				|  consisting of the 
				b Chikage
				|  and 
				b Three
				|  others. This team is handpicked by the 
				b Chikage
				| .
			li
				span.rank Chikage
				| The Chikage is chosen by means of a vote, or through 
				u trial by combat
				|  as listed in 
				b Challanges
				| .
		p 
			| The secondary way of ranking up, would be to gain the acknowledgement of either a member of the 
			b Red Council
			| , 
			b Master
			| , or
			b Nikuya Captain 
			| and receive a rank up that way

		hr
		h3.toRight Crime and Punishment
		h5 Strict
		p
			| The village of 
			b Ketsuekigakure 
			| does not take well to crimes committed on its soil, if such activities are caught, members of the village have the authority to take action and bring said offender in to be punished for their crimes. However, should the offender enact the right of "
			u Trial by Combat
			| ", a spectacle will be made and a battle will be organized, the 
			b Red Council 
			|  picking a representee to fight against the offender, should the offender win, they will be cleared of all crimes. 
			u This is a battle to the Death
			| .

		hr
		h3.toLeft Visitation Permits
		h5 Strict
		p
			| When a member of another village, or a member of the Missing Ninja community arrives on the docks of Ketsuekigakure, the 
			u Dock Master 
			| will be the first face that will greet you; before being allowed off the ship that brought you to the village, unless you are an expected guest, and have a formal scroll given to you by the Red Council, or a specific member of the Council before hand, you will be required to fill this out;
		p %%%REPLACE WITH CODE BOX%%%

		hr
		h3.toRight Transplant Leniency
		h5 Moderate
		p 
			| Although the higher members of Ketsuekigakure look down upon transplants, and believe in the power of being true to ones clan or family; the do understand that sometimes transplants can be what is best for a persons grow and ability; and are willing to look the other way when it comes to these types of proceedings so long as a small fee is paid to the village in advanced of 5000 Ryo. 
			u [Even if done in 'secret', should you be caught with an unpaid for transplant, it will be treated as a crime and handled as such. See Crime and Punishment for more information.]

		hr
		h3.toLeft Missing Ninja Tolerance
		h5 Loose
		p Missing-Nin are welcomed freely within the village, but they must obey all laws of the village whilst within the walls.

		hr
		h3 Nikuya
		p The Nikuya are Ketsuekigakure's police, ANBU and overall force throughout the village, having different branches and places where one may come in contact with one. Nikuya are scattered among the village, often hiding in the shadows watching for crimes or wrong doings.

		hr
		a.ToTop(href="#TOP") Return to Table of Contents







